@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Welcome Section */
#welcome{
    background-image: url(../img/background_001.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}
#welcome::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#welcome h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#welcome .btn_contact{
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#welcome .btn_contact:hover{
    color: white;
    background-color: crimson;
}
/* Welcome End Section */